.blog
	font: 15px
	font-family: 'Nixie One', 'sans-serif'
	border-bottom: solid 1px #CCC
	padding: 5px 0

.blog strong
	font-size: 20px

.blog .meta
	font-family: 'Roboto', 'sans-serif'

.blog .admin
	display: none

.blog.hover .admin
	display: inline